/*in class*/
.wrapper{
  padding: 20px;
}
.height-xs {
  height: 25px;
  background-color: #000;
}

.height-sm {
  height: 75px;
  background-color: #000;
}

.sm-gap {
  margin: 0px 25px;
}
/*in class ends*/

/*header styles*/
.logo {
  margin: 1%;
  height: 100px;
  background-color: #000;
}

.nav {
  margin: 1%;
  margin-top:4%;
  height: 50px;
  background-color: #000;
}

/*jumbotron styles*/

.hero {
  margin: 1%;
  height: 500px;
  background-color: #000;
}

/*header 2 styles*/

.intro {
  margin: 1%;
  margin-top:4%;
  height: 30px;
  background-color: #000;
}

/*section 1 and 2 styles*/

.bottom {
  margin-top: 4%;
}

.text {
  margin: 1%;
  height: 200px;
  background-color: #000;
}

.video {
  margin: 1%;
  height: 200px;
  background-color: #000;
}
